# Install requirements for MDTools
# Tested on Ubuntu 20.04.2 on 2021/05/10

astunparse==1.6.3
bhmm==0.6.3
biopython==1.78
cycler==0.10.0
decorator==4.4.2
deeptime==0.2.6
dill==0.3.3
funcsigs==1.0.2
GridDataFormats==0.5.0
gsd==2.4.2
h5py==3.2.1
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.2.2
MDAnalysis==1.1.1
mdtraj==1.9.5
mmtf-python==1.1.2
mock==4.0.3
msgpack==1.0.2
msmtools==1.2.6
multiprocess==0.70.11.1
networkx==2.5.1
numpy==1.20.2
pathos==0.2.7
pox==0.2.9
ppft==1.6.6.3
psutil==5.8.0
pyEMMA==2.5.9
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
threadpoolctl==2.1.0
tqdm==4.60.0
