# Date: 2021/07/07
# With the following requirements the installation of MDTools succeeds
# without errors using Python version 3.8.10 on Ubuntu 20.04.2 LTS

biopython==1.79
cycler==0.10.0
decorator==4.4.2
funcsigs==1.0.2
GridDataFormats==0.5.0
gsd==2.4.2
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.2.2
MDAnalysis==1.1.1
mmtf-python==1.1.2
mock==4.0.3
msgpack==1.0.2
networkx==2.5.1
numpy==1.21.0
psutil==5.8.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.7.0
six==1.16.0
tqdm==4.61.2
