# Requirements to build MDTools' documentation.
#
# These requirements apply additionally to the install requirements of
# MDTools as listed in the requirements file in the root directory of
# the project.

sphinx >=3.0, <5.0
sphinx-rtd-theme <2.0
readthedocs-sphinx-search <1.0
