# Additional requirements to build MDTools' documentation by readthedocs
#
# MDAnalysis requires NumPy (>=1.19.2) for setup (see also
# https://github.com/MDAnalysis/mdanalysis/issues/3374#issuecomment-889189979).
# MDAnalysis <3.0 requires Cython <4.0 (see
# https://github.com/MDAnalysis/mdanalysis/pull/4129 and
# https://github.com/cython/cython/issues/3690).
# Strangely, without `python-dev-tools` the installation of MDAnalysis
# might fail while building the wheel.

Cython <4.0
numpy >=1.19.2
python-dev-tools
